

body{
    background-color: #eee;
}

*{
    padding: 0; margin: 0;
    box-sizing: border-box;
}

.card{
    width: 320px; height: 350px;
    box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 120px auto;
    border-radius: 20px;
    font-family: sans-serif;
    text-align: center;
}

.card .top{
    width: 100%; height: 70px;
    border-bottom: 1px solid #aaa;
    display: flex; flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 0 20px;
}
.card .top h3{
    font-size: 20px; color: #222;
}

.card button{
    width: 27px; height: 27px;
    background-color: rgba(57, 57, 253, 0.15);
    border: 0; border-radius: 6px;
    font-size: 20px;
    color: rgb(33, 13, 217);
    cursor: pointer;
    transition: all 0.3s;
}
.card button:hover{
    background-color: rgb(33, 13, 217);
    color: white;
}

.card .bottom{
    width: 100%;
}

.card .bottom h2{
    font-size: 26px;
    padding: 20px;
}

.card table{
    width: 100%;
    padding: 10px 20px;
    text-align: center;
}

.card table tr{
    display: flex; flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.card table tr td{
    width: 27px; height: 27px;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s;
    display: flex; flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}
.card table tr td:hover{
    background-color: rgba(57, 57, 253, 0.15);
    color: rgb(33, 13, 217);
}

.card table tr .active{
    background-color: rgb(33, 13, 217);
    color: white;
    box-shadow: 0 4px 8px 0 rgba(33, 13, 217, 0.4);
}

.card table .days td{
    color: #777;
}
.card table .days td:hover{
    background-color: transparent;
    color: #999;
    cursor: default;
}

.card table tr .other{
    color: #bbb;
}




